name: Test
on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Setup NodeJS
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 12.x

      - name: Install project dependencies
        run: npm install --also=dev

      - name: Run tests
        run: npm run test

      - name: Run linter
        run: npm run lint
