name: Test
on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 16.x

      - name: Install project dependencies
        run: npm install --also=dev

      - name: Run tests
        run: npm run test

      - name: Run linter
        run: npm run lint
